#menu{
    display: none;
   
}

#menu.show{
    display: block;
}

#col{
    margin-bottom: 20px;
    padding: 15px;
    
    border: 1px solid black;
}


footer{
    background-color: azure;
    color: black;
    text-align: center;
    position: relative;
    padding: 20px;
    margin-top: 15px;
}

.footer-icons {
    color: blue;
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-top: 15px;
    
}